{
  "openapi": "3.1.0",
  "info": {
    "title": "OnPoint Agent Commerce API",
    "version": "1.0.0",
    "description": "Discover real curator inventory, request fit signals, and complete Celo x402 commerce. Paid endpoints return HTTP 402 before any payment is authorized."
  },
  "servers": [
    { "url": "https://api.onpoint.famile.xyz" }
  ],
  "paths": {
    "/api/curator/directory": {
      "get": {
        "summary": "Discover curator storefronts",
        "parameters": [
          { "name": "agentPurchasable", "in": "query", "schema": { "type": "boolean" }, "description": "Only curators with live physical offers and a payout wallet." }
        ],
        "responses": { "200": { "description": "Curator directory" } }
      }
    },
    "/api/curator/{slug}/storefront": {
      "get": {
        "summary": "Load a curator's live inventory",
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Listings with agentCommerce offers" }, "404": { "description": "Curator not found" } }
      }
    },
    "/api/agent/try-on": {
      "post": {
        "summary": "Request a paid fit render",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["curatorSlug", "listingId", "photoData"], "properties": { "curatorSlug": { "type": "string" }, "listingId": { "type": "string" }, "photoData": { "type": "string", "description": "data:image/... base64 payload" }, "paymentTxHash": { "type": "string" } } } } } },
        "responses": { "200": { "description": "Try-on render and fit signal" }, "402": { "description": "cUSD or gasless USDC payment requirements" } }
      }
    },
    "/api/curator/{slug}/order": {
      "post": {
        "summary": "Request or confirm a physical order",
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["listingId", "size"], "properties": { "listingId": { "type": "string" }, "size": { "type": "string" }, "quantity": { "type": "integer", "default": 1 }, "paymentTxHash": { "type": "string" }, "quoteId": { "type": "string" } } } } } },
        "responses": { "201": { "description": "Order confirmation and receipt URL" }, "402": { "description": "cUSD or gasless USDC payment requirements" }, "409": { "description": "Digital listings are try-on only" } }
      }
    },
    "/api/agent/dashboard": {
      "get": { "summary": "Read public agent identity, receipts, and referral status", "responses": { "200": { "description": "Agent proof data" } } }
    },
    "/api/looks": {
      "get": {
        "summary": "List live looks with optional filters",
        "parameters": [
          { "name": "curator", "in": "query", "schema": { "type": "string" }, "description": "Filter by curator slug" },
          { "name": "tag", "in": "query", "schema": { "type": "string" }, "description": "Filter by tag (array contains)" },
          { "name": "agent", "in": "query", "schema": { "type": "string" }, "description": "Filter by agent wallet address" },
          { "name": "category", "in": "query", "schema": { "type": "string" }, "description": "Filter by metadata.category (e.g. streetwear, casual, formal, event, sport, vintage, ankara, sustainable)" },
          { "name": "occasion", "in": "query", "schema": { "type": "string" }, "description": "Filter by metadata.occasion (e.g. casual, formal, event, sport, outdoor, travel, date-night)" },
          { "name": "season", "in": "query", "schema": { "type": "string" }, "description": "Filter by metadata.season (e.g. spring, summer, fall, winter, all-season)" },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 }, "description": "Max results (capped at 100)" }
        ],
        "responses": { "200": { "description": "List of looks with resolved images and metadata" } }
      },
      "post": {
        "summary": "Create a new look (agent or curator auth)",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["title", "listingIds"], "properties": {
          "title": { "type": "string", "description": "Look title (1-120 chars)" },
          "description": { "type": "string", "description": "Optional description / styling notes" },
          "listingIds": { "type": "array", "items": { "type": "string" }, "description": "Listing UUIDs from a curator storefront (2-10 items)", "minItems": 2, "maxItems": 10 },
          "heroListingId": { "type": "string", "description": "UUID of the hero piece (must be in listingIds). Defaults to first." },
          "tags": { "type": "array", "items": { "type": "string" }, "description": "Free-form tags for discovery" },
          "coverImage": { "type": "string", "description": "data:image/jpeg;base64,... (optional, max 5MB)" },
          "curatorSlug": { "type": "string", "description": "Required for curator auth" },
          "status": { "type": "string", "enum": ["live", "draft"], "default": "live", "description": "Save as draft to publish later" }
        } } } } },
        "responses": { "201": { "description": "Created look with slug, id, collageUrl, and metadata" }, "401": { "description": "Authentication required — see x-agent-address or x-curator-slug headers" } }
      }
    },
    "/api/looks/{slug}": {
      "get": {
        "summary": "Get a look with resolved listings and metadata",
        "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } } ],
        "responses": { "200": { "description": "Look details with resolved listings, collageUrl, and metadata" }, "404": { "description": "Look not found" } }
      },
      "patch": {
        "summary": "Update a look (creator only)",
        "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": {
          "title": { "type": "string" },
          "description": { "type": "string" },
          "tags": { "type": "array", "items": { "type": "string" } },
          "status": { "type": "string", "enum": ["live", "paused", "archived", "draft"], "description": "Change status — e.g. publish a draft with 'live'" }
        } } } } },
        "responses": { "200": { "description": "Updated look" }, "403": { "description": "Not the look creator — response includes { error, provided, expected, hint }" } }
      }
    },
    "/api/looks/{slug}/collage": {
      "post": {
        "summary": "Generate or regenerate look collage (public, best-effort AI + sharp fallback)",
        "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } } ],
        "responses": { "200": { "description": "Collage generated with r2Key, url, and tier (1=sharp, 2=AI)" } }
      }
    },
    "/api/looks/{slug}/classify": {
      "post": {
        "summary": "Auto-classify look metadata (category, occasion, season) — rule-based + AI vision",
        "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } } ],
        "responses": { "200": { "description": "Classification result: { success, metadata: { category, occasion, season } }" } }
      }
    },
    "/api/looks/{slug}/image": {
      "post": {
        "summary": "Upload cover image for a look (creator only)",
        "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["image"], "properties": {
          "image": { "type": "string", "description": "data:image/jpeg;base64,... payload" }
        } } } } },
        "responses": { "200": { "description": "Cover image uploaded with coverImageKey and coverImageUrl" } }
      }
    },
    "/api/looks/{slug}/share": {
      "post": {
        "summary": "Record a share event (increments shareCount)",
        "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } } ],
        "requestBody": { "required": false, "content": { "application/json": { "schema": { "type": "object", "properties": {
          "platform": { "type": "string", "enum": ["twitter", "facebook", "whatsapp", "copy", "native"], "description": "Sharing platform" }
        } } } } },
        "responses": { "200": { "description": "{ ok: true, shareCount: N }" } }
      }
    },
    "/api/looks/{slug}/try-on-count": {
      "post": {
        "summary": "Increment try-on count for a look (called when try-on uses lookSlug)",
        "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } } ],
        "responses": { "200": { "description": "{ ok: true, tryOnCount: N }" } }
      }
    },
    "/api/looks/bulk": {
      "post": {
        "summary": "Bulk archive, publish, or delete looks (creator only)",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["action", "slugs"], "properties": {
          "action": { "type": "string", "enum": ["archive", "publish", "delete"], "description": "Bulk action to apply" },
          "slugs": { "type": "array", "items": { "type": "string" }, "description": "Look slugs to apply the action to" }
        } } } } },
        "responses": { "200": { "description": "{ updated: N, failed: [{ slug, error }] }" }, "401": { "description": "Authentication required" } }
      }
    },
    "/api/looks/curator/{slug}/link-agent": {
      "post": {
        "summary": "Link an agent wallet to a curator storefront for look attribution",
        "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["whatsapp", "agentAddress"], "properties": {
          "whatsapp": { "type": "string", "description": "Curator WhatsApp number for verification" },
          "agentAddress": { "type": "string", "description": "Agent wallet address to link" }
        } } } } },
        "responses": { "200": { "description": "Agent linked successfully" } }
      }
    }
  }
}
