{
  "openapi": "3.1.0",
  "info": {
    "title": "OnPoint Agent Commerce API",
    "version": "1.0.0",
    "description": "Discover real curator inventory, request fit signals, and complete Celo x402 commerce. Paid endpoints return HTTP 402 before any payment is authorized. OKX A2MCP facade endpoints (/okx/*) settle in USD₮0 on XLayer."
  },
  "servers": [
    { "url": "https://api.onpoint.famile.xyz" }
  ],
  "paths": {
    "/api/curator/directory": {
      "get": {
        "summary": "Discover curator storefronts",
        "parameters": [
          { "name": "agentPurchasable", "in": "query", "schema": { "type": "boolean" }, "description": "Only curators with live physical offers and a payout wallet." }
        ],
        "responses": { "200": { "description": "Curator directory" } }
      }
    },
    "/api/curator/{slug}/storefront": {
      "get": {
        "summary": "Load a curator's live inventory",
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Listings with agentCommerce offers" }, "404": { "description": "Curator not found" } }
      }
    },
    "/api/agent/try-on": {
      "post": {
        "summary": "Request a paid fit render (Celo)",
        "description": "Tiered pricing: $0.03 cUSD for digital listings, $0.05 cUSD for physical listings (per-curator override may apply). Two payment paths: (1) cUSD — transfer to payTo from the 402 challenge, re-POST with paymentTxHash; (2) gasless USDC via the Celo x402 facilitator — sign an EIP-3009 transferWithAuthorization and send it in the X-PAYMENT header.",
        "parameters": [
          { "name": "X-PAYMENT", "in": "header", "required": false, "schema": { "type": "string" }, "description": "Optional base64-encoded x402 payment payload (EIP-3009 transferWithAuthorization for USDC). Facilitator path — gasless for the buyer." }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["curatorSlug", "listingId", "photoData"], "properties": {
          "curatorSlug": { "type": "string" },
          "listingId": { "type": "string" },
          "photoData": { "type": "string", "description": "data:image/... base64 payload" },
          "personDescription": { "type": "string", "description": "Optional free-text description of the person (e.g. build, height) to refine the fit analysis" },
          "lookSlug": { "type": "string", "description": "Optional look slug — attributes the try-on to the look (increments its tryOnCount) and triggers a 1080x1350 Instagram-ready shareCard collage in the 200 response" },
          "paymentTxHash": { "type": "string", "description": "0x-prefixed cUSD transfer hash (payment path 1)" }
        } } } } },
        "responses": {
          "200": { "description": "Try-on render and fit signal. Includes a shareCard (imageUrl, lookUrl) when lookSlug was provided and the look is live." },
          "402": { "description": "cUSD or gasless USDC payment requirements" }
        }
      }
    },
    "/okx/try-on": {
      "post": {
        "summary": "OKX A2MCP try-on — paid fit render in USD₮0 on XLayer",
        "description": "OKX facade endpoint. Same try-on engine as /api/agent/try-on but settles in USD₮0 on XLayer (eip155:196). Returns 402 with PAYMENT-REQUIRED header (base64-encoded v2 challenge). The OKX Agentic Wallet handles signing + settlement automatically. Relays to the Celo backend with a service-key bypass.",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["curatorSlug", "listingId", "photoData"], "properties": { "curatorSlug": { "type": "string" }, "listingId": { "type": "string" }, "photoData": { "type": "string", "description": "data:image/... base64 payload" } } } } } },
        "responses": {
          "200": { "description": "Try-on render and fit signal (after payment verified)" },
          "402": { "description": "Payment required — PAYMENT-REQUIRED header contains base64 v2 challenge with network=eip155:196, asset=USD₮0, amount=50000 ($0.05)", "headers": { "PAYMENT-REQUIRED": { "schema": { "type": "string" }, "description": "Base64-encoded x402 v2 PaymentRequired JSON" } } }
        },
        "x402": { "version": 2, "scheme": "exact", "network": "eip155:196", "asset": "0x779Ded0c9e1022225f8E0630b35a9b54bE713736", "assetSymbol": "USD₮0", "amount": "50000", "amountHuman": "$0.05", "payTo": "0x5e32740122999bb98a50055d68593f94d2a0711e" }
      }
    },
    "/okx/browse": {
      "post": {
        "summary": "OKX A2MCP browse — free curator directory (zero-fee x402)",
        "description": "OKX facade endpoint. Zero-fee x402 service — returns 402 with amount=0. After zero-amount payment signature, returns the curator directory JSON (same data as GET /api/curator/directory?agentPurchasable=1).",
        "requestBody": { "required": false, "content": { "application/json": { "schema": { "type": "object", "properties": {} } } } },
        "responses": {
          "200": { "description": "Curator directory JSON (after zero-amount payment verified)" },
          "402": { "description": "Payment required — PAYMENT-REQUIRED header contains base64 v2 challenge with amount=0 (zero-fee)", "headers": { "PAYMENT-REQUIRED": { "schema": { "type": "string" }, "description": "Base64-encoded x402 v2 PaymentRequired JSON" } } }
        },
        "x402": { "version": 2, "scheme": "exact", "network": "eip155:196", "asset": "0x779Ded0c9e1022225f8E0630b35a9b54bE713736", "assetSymbol": "USD₮0", "amount": "0", "amountHuman": "Free", "payTo": "0x5e32740122999bb98a50055d68593f94d2a0711e" }
      }
    },
    "/okx/health": {
      "get": {
        "summary": "OKX facade health + mode check",
        "responses": { "200": { "description": "Facade status: mode (self-check|live), network, payTo, facilitatorConfigured", "content": { "application/json": { "schema": { "type": "object", "properties": { "status": { "type": "string" }, "mode": { "type": "string", "enum": ["self-check", "live"] }, "network": { "type": "string" }, "asset": { "type": "string" }, "priceUsd": { "type": "number" }, "payTo": { "type": "string" }, "payToConfigured": { "type": "boolean" }, "facilitatorConfigured": { "type": "boolean" }, "tryOnEndpoint": { "type": "string" } } } } } } }
      }
    },
    "/api/curator/{slug}/order": {
      "post": {
        "summary": "Request or confirm a physical order",
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "X-Referral-Code", "in": "header", "required": false, "schema": { "type": "string" }, "description": "Referral code — referring agent earns 2.5% commission on this purchase" },
          { "name": "referral", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Referral code via query param (alternative to the header, for shareable links)" },
          { "name": "X-PAYMENT", "in": "header", "required": false, "schema": { "type": "string" }, "description": "Optional base64-encoded x402 payment payload (EIP-3009 transferWithAuthorization for USDC). Facilitator path — gasless for the buyer." }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["listingId", "size"], "properties": { "listingId": { "type": "string" }, "size": { "type": "string" }, "quantity": { "type": "integer", "default": 1 }, "paymentTxHash": { "type": "string" }, "quoteId": { "type": "string" } } } } } },
        "responses": { "201": { "description": "Order confirmation and receipt URL" }, "402": { "description": "cUSD or gasless USDC payment requirements" }, "409": { "description": "Digital listings are try-on only" } }
      }
    },
    "/api/curator/{slug}/earnings": {
      "get": {
        "summary": "Public reconciled earnings ledger for a curator",
        "description": "One query surface for everything the curator has earned across channels: agent orders (cUSD, on-chain), M-Pesa orders (KES, receipt-backed), and try-on fees (cUSD, on-chain). Every line item links to its proof — a Celoscan tx or an M-Pesa receipt code. No PII.",
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Earnings ledger",
            "content": { "application/json": { "schema": {
              "type": "object",
              "properties": {
                "curator": { "type": "object", "properties": { "slug": { "type": "string" }, "name": { "type": "string" } } },
                "payoutModel": { "type": "string", "enum": ["0xSplits (non-custodial)", "custodial"] },
                "splitAddress": { "type": "string", "description": "0xSplits SplitV2 address (absent when custodial)" },
                "summary": { "type": "object", "properties": {
                  "totalOrders": { "type": "integer" },
                  "agentOrders": { "type": "integer" },
                  "fiatOrders": { "type": "integer" },
                  "tryOns": { "type": "integer" },
                  "gmvCusd": { "type": "number", "description": "Agent order GMV in cUSD" },
                  "gmvKes": { "type": "number", "description": "Fiat order GMV in KES" },
                  "tryOnRevenueCusd": { "type": "number" }
                } },
                "orders": { "type": "array", "description": "Up to 50 most recent non-cancelled orders", "items": { "type": "object", "properties": {
                  "id": { "type": "string" },
                  "source": { "type": "string", "enum": ["agent", "web", "whatsapp"] },
                  "status": { "type": "string" },
                  "size": { "type": "string" },
                  "quantity": { "type": "integer" },
                  "amountCusd": { "type": "number", "description": "Present for agent orders" },
                  "amountKes": { "type": "number", "description": "Present for fiat orders" },
                  "proof": { "type": "object", "description": "Celoscan tx links for agent orders, or { type: 'mpesa', receipt } for fiat orders" },
                  "createdAt": { "type": "string", "format": "date-time" }
                } } },
                "tryOns": { "type": "array", "description": "Up to 50 most recent paid try-on fees", "items": { "type": "object", "properties": {
                  "id": { "type": "string" },
                  "amountCusd": { "type": "number" },
                  "paymentTx": { "type": "string" },
                  "paymentUrl": { "type": "string", "format": "uri", "nullable": true },
                  "createdAt": { "type": "string", "format": "date-time" }
                } } },
                "meta": { "type": "object", "properties": { "generatedAt": { "type": "string", "format": "date-time" } } }
              }
            } } }
          },
          "404": { "description": "Curator not found" }
        }
      }
    },
    "/api/agent/mint": {
      "post": {
        "summary": "Mint an OnPoint fashion NFT with 0xSplits royalties (service auth)",
        "description": "Mints an ERC-721A NFT on Celo with a 0xSplits royalty split (85% creator / 15% platform). Requires the x-service-key header. Cost: $0.10 cUSD plus gas.",
        "parameters": [
          { "name": "x-service-key", "in": "header", "required": true, "schema": { "type": "string" }, "description": "Service API key" }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["userAddress", "metadataUri"], "properties": {
          "userAddress": { "type": "string", "description": "0x wallet address receiving the NFT" },
          "metadataUri": { "type": "string", "description": "ipfs:// or HTTPS URI of the NFT metadata" },
          "royaltyRecipient": { "type": "string", "description": "0x address for the 85% creator royalty share (defaults to userAddress)" },
          "royaltyBps": { "type": "integer", "default": 500 },
          "chain": { "type": "string", "enum": ["celo", "celoSepolia"], "default": "celo" },
          "agentId": { "type": "string", "description": "Agent ID for spending-limit accounting (defaults to onpoint-stylist)" },
          "approvalId": { "type": "string", "description": "ID of an approved spending-limit approval request, when one was required" }
        } } } } },
        "responses": {
          "200": { "description": "Mint result with transaction hash, tokenId, and Celoscan explorer URL" },
          "400": { "description": "Invalid request body" },
          "402": { "description": "Spending-limit approval required" },
          "403": { "description": "Action not allowed by spending limits" },
          "503": { "description": "Agent signing not configured" }
        }
      }
    },
    "/api/agent/dashboard": {
      "get": { "summary": "Read public agent identity, receipts, and referral status", "responses": { "200": { "description": "Agent proof data" } } }
    },
    "/api/looks": {
      "get": {
        "summary": "List live looks with optional filters",
        "parameters": [
          { "name": "curator", "in": "query", "schema": { "type": "string" }, "description": "Filter by curator slug" },
          { "name": "tag", "in": "query", "schema": { "type": "string" }, "description": "Filter by tag (array contains)" },
          { "name": "agent", "in": "query", "schema": { "type": "string" }, "description": "Filter by agent wallet address" },
          { "name": "category", "in": "query", "schema": { "type": "string" }, "description": "Filter by metadata.category (e.g. streetwear, casual, formal, event, sport, vintage, ankara, sustainable)" },
          { "name": "occasion", "in": "query", "schema": { "type": "string" }, "description": "Filter by metadata.occasion (e.g. casual, formal, event, sport, outdoor, travel, date-night)" },
          { "name": "season", "in": "query", "schema": { "type": "string" }, "description": "Filter by metadata.season (e.g. spring, summer, fall, winter, all-season)" },
          { "name": "status", "in": "query", "schema": { "type": "string", "enum": ["live", "draft", "paused", "archived"] }, "description": "Filter by status. Public requests only see live looks; non-live values are scoped to the authenticated creator's own looks (x-agent-address or x-curator-slug + x-curator-whatsapp headers)" },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 }, "description": "Max results (capped at 100)" }
        ],
        "responses": { "200": {
          "description": "List of looks with resolved images and metadata",
          "content": { "application/json": { "schema": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/LookListItem" }
          } } }
        } }
      },
      "post": {
        "summary": "Create a new look (agent or curator auth)",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["title", "listingIds"], "properties": {
          "title": { "type": "string", "description": "Look title (1-120 chars)" },
          "description": { "type": "string", "description": "Optional description / styling notes" },
          "listingIds": { "type": "array", "items": { "type": "string" }, "description": "Listing UUIDs from a curator storefront (2-10 items)", "minItems": 2, "maxItems": 10 },
          "heroListingId": { "type": "string", "description": "UUID of the hero piece (must be in listingIds). Defaults to first." },
          "tags": { "type": "array", "items": { "type": "string" }, "description": "Free-form tags for discovery" },
          "coverImage": { "type": "string", "description": "data:image/jpeg;base64,... (optional, max 5MB)" },
          "curatorSlug": { "type": "string", "description": "Required for curator auth" },
          "status": { "type": "string", "enum": ["live", "draft"], "default": "live", "description": "Save as draft to publish later" }
        } } } } },
        "responses": {
          "201": {
            "description": "Created look with slug, id, collageUrl, and metadata",
            "content": { "application/json": { "schema": {
              "type": "object",
              "properties": {
                "id": { "type": "string", "format": "uuid" },
                "slug": { "type": "string", "description": "URL-safe slug, unique" },
                "title": { "type": "string" },
                "collageUrl": { "type": "string", "format": "uri", "nullable": true },
                "coverImageUrl": { "type": "string", "format": "uri", "nullable": true },
                "metadata": { "$ref": "#/components/schemas/LookMetadata" },
                "status": { "type": "string", "enum": ["live", "draft"] },
                "items": { "type": "array", "items": { "$ref": "#/components/schemas/LookItem" } }
              }
            } } }
          },
          "401": { "description": "Authentication required — see x-agent-address or x-curator-slug headers" }
        }
      }
    },
    "/api/looks/{slug}": {
      "get": {
        "summary": "Get a look with resolved listings and metadata",
        "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } } ],
        "responses": {
          "200": {
            "description": "Look details with resolved listings, collageUrl, and metadata",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LookDetail" } } }
          },
          "404": { "description": "Look not found" }
        }
      },
      "patch": {
        "summary": "Update a look (creator only)",
        "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": {
          "title": { "type": "string" },
          "description": { "type": "string" },
          "tags": { "type": "array", "items": { "type": "string" } },
          "status": { "type": "string", "enum": ["live", "paused", "archived", "draft"], "description": "Change status — e.g. publish a draft with 'live'" }
        } } } } },
        "responses": {
          "200": {
            "description": "Updated look",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LookDetail" } } }
          },
          "403": {
            "description": "Not the look creator — response includes diagnostic context",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error403" } } }
          }
        }
      },
      "delete": {
        "summary": "Delete a look (creator only)",
        "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } } ],
        "responses": {
          "200": {
            "description": "Look deleted",
            "content": { "application/json": { "schema": {
              "type": "object",
              "properties": {
                "success": { "type": "boolean" },
                "slug": { "type": "string" }
              }
            } } }
          },
          "404": { "description": "Look not found" },
          "403": {
            "description": "Not the look creator — response includes diagnostic context",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error403" } } }
          }
        }
      }
    },
    "/api/looks/{slug}/collage": {
      "post": {
        "summary": "Generate or regenerate look collage (public, best-effort AI + sharp fallback)",
        "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } } ],
        "responses": { "200": {
          "description": "Collage generated",
          "content": { "application/json": { "schema": {
            "type": "object",
            "properties": {
              "r2Key": { "type": "string", "description": "R2 storage key" },
              "url": { "type": "string", "format": "uri" },
              "tier": { "type": "integer", "enum": [1, 2], "description": "1=sharp (deterministic), 2=AI (Qwen Cloud)" },
              "aiFallbackReason": { "type": "string", "nullable": true, "description": "Present when tier=1 due to AI failure" }
            }
          } } }
        } }
      }
    },
    "/api/looks/{slug}/classify": {
      "post": {
        "summary": "Auto-classify look metadata (category, occasion, season) — rule-based + AI vision",
        "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } } ],
        "responses": { "200": {
          "description": "Classification result",
          "content": { "application/json": { "schema": {
            "type": "object",
            "properties": {
              "success": { "type": "boolean" },
              "metadata": { "$ref": "#/components/schemas/LookMetadata" }
            }
          } } }
        } }
      }
    },
    "/api/looks/{slug}/image": {
      "post": {
        "summary": "Upload cover image for a look (creator only)",
        "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["image"], "properties": {
          "image": { "type": "string", "description": "data:image/jpeg;base64,... payload" }
        } } } } },
        "responses": { "200": {
          "description": "Cover image uploaded",
          "content": { "application/json": { "schema": {
            "type": "object",
            "properties": {
              "coverImageKey": { "type": "string" },
              "coverImageUrl": { "type": "string", "format": "uri" }
            }
          } } }
        } }
      }
    },
    "/api/looks/{slug}/share": {
      "post": {
        "summary": "Record a share event (increments shareCount)",
        "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } } ],
        "requestBody": { "required": false, "content": { "application/json": { "schema": { "type": "object", "properties": {
          "platform": { "type": "string", "enum": ["twitter", "facebook", "whatsapp", "copy", "native"], "description": "Sharing platform" }
        } } } } },
        "responses": { "200": {
          "description": "Share recorded",
          "content": { "application/json": { "schema": {
            "type": "object",
            "properties": { "ok": { "type": "boolean" }, "shareCount": { "type": "integer" } }
          } } }
        } }
      }
    },
    "/api/looks/{slug}/try-on-count": {
      "post": {
        "summary": "Increment try-on count for a look (called when try-on uses lookSlug)",
        "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } } ],
        "responses": { "200": {
          "description": "Try-on count incremented",
          "content": { "application/json": { "schema": {
            "type": "object",
            "properties": { "ok": { "type": "boolean" }, "tryOnCount": { "type": "integer" } }
          } } }
        } }
      }
    },
    "/api/looks/bulk": {
      "post": {
        "summary": "Bulk archive, publish, or delete looks (creator only)",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["action", "slugs"], "properties": {
          "action": { "type": "string", "enum": ["archive", "publish", "delete"], "description": "Bulk action to apply" },
          "slugs": { "type": "array", "items": { "type": "string" }, "description": "Look slugs to apply the action to" }
        } } } } },
        "responses": {
          "200": {
            "description": "Bulk action result",
            "content": { "application/json": { "schema": {
              "type": "object",
              "properties": {
                "updated": { "type": "integer" },
                "failed": { "type": "array", "items": { "type": "object", "properties": {
                  "slug": { "type": "string" },
                  "error": { "type": "string" }
                } } }
              }
            } } }
          },
          "401": { "description": "Authentication required" }
        }
      }
    },
    "/api/looks/curator/{slug}/link-agent": {
      "post": {
        "summary": "Link an agent wallet to a curator storefront for look attribution",
        "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["whatsapp", "agentAddress"], "properties": {
          "whatsapp": { "type": "string", "description": "Curator WhatsApp number for verification" },
          "agentAddress": { "type": "string", "description": "Agent wallet address to link" }
        } } } } },
        "responses": { "200": { "description": "Agent linked successfully" } }
      }
    }
  },
  "components": {
    "schemas": {
      "LookMetadata": {
        "type": "object",
        "properties": {
          "category": { "type": "string", "enum": ["streetwear", "casual", "formal", "event", "sport", "vintage", "ankara", "sustainable"], "nullable": true },
          "occasion": { "type": "string", "enum": ["casual", "formal", "event", "sport", "outdoor", "travel", "date-night"], "nullable": true },
          "season": { "type": "string", "enum": ["spring", "summer", "fall", "winter", "all-season"], "nullable": true }
        },
        "description": "AI-classified metadata for filtering and discovery"
      },
      "LookItem": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "title": { "type": "string" },
          "curatorSlug": { "type": "string" },
          "imageUrl": { "type": "string", "format": "uri", "nullable": true },
          "isHero": { "type": "boolean" },
          "sizes": { "type": "array", "items": { "type": "object", "properties": {
            "size": { "type": "string" },
            "stock": { "type": "integer" },
            "price": { "type": "number", "description": "Price in KES" }
          } } },
          "kit": { "type": "object", "nullable": true, "properties": {
            "club": { "type": "string" },
            "kitType": { "type": "string" },
            "brand": { "type": "string" },
            "season": { "type": "string" }
          } }
        }
      },
      "LookListItem": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "slug": { "type": "string" },
          "title": { "type": "string" },
          "description": { "type": "string", "nullable": true },
          "curatorSlug": { "type": "string", "nullable": true },
          "coverImageUrl": { "type": "string", "format": "uri", "nullable": true },
          "collageUrl": { "type": "string", "format": "uri", "nullable": true },
          "heroImageUrl": { "type": "string", "format": "uri", "nullable": true },
          "tags": { "type": "array", "items": { "type": "string" } },
          "metadata": { "$ref": "#/components/schemas/LookMetadata" },
          "tryOnCount": { "type": "integer" },
          "shareCount": { "type": "integer" },
          "itemCount": { "type": "integer" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "LookDetail": {
        "allOf": [
          { "$ref": "#/components/schemas/LookListItem" },
          {
            "type": "object",
            "properties": {
              "items": { "type": "array", "items": { "$ref": "#/components/schemas/LookItem" } },
              "agentAddress": { "type": "string", "description": "Creator wallet address" },
              "referralCode": { "type": "string", "description": "Use in X-Referral-Code header for commission" },
              "shareUrl": { "type": "string", "format": "uri", "description": "Public look page URL" }
            }
          }
        ]
      },
      "Error403": {
        "type": "object",
        "properties": {
          "error": { "type": "string", "example": "Not the look owner" },
          "provided": { "type": "string", "description": "The wallet address from the request, or 'not provided'" },
          "expected": { "type": "string", "description": "The look creator's wallet address" },
          "hint": { "type": "string", "description": "How to fix the auth failure" }
        }
      }
    }
  }
}
