engine-strict=true
registry=https://registry.npmjs.org/
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
public-hoist-pattern[]=@rainbow-me/rainbowkit